<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <style>



body{
    justify-content: center;
    align-items: center;
  background: linear-gradient(to bottom, #1c2e4a 0%, #23395d 50%, #2c446e 100%);
}

.container{
    
  background-color: transparent;
    border-radius: 10px;
    max-width: 450px;

    min-height: 100px;
    
}
#newtask{
    padding: 30px 20px;
}
#newtask input{
    width: 75%;
    height:30px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
 
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
    margin-bottom: 10px;
}

#newtask input:focus{
    outline: none;
    border-color: #0d75ec;
}
#newtask button{
 
    
    font-weight: 500;
    font-size: 16px;
    background-color: #0d75ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
}
#tasks{
    border-radius: 10px;
    width: 100%;
 
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
}




.task{
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}
.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color: #6583e5;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}

#item{
    height: 40px;

    background: linear-gradient(to bottom right, #4b6cb7, #182848);
    border-radius: 5px;
    margin:20px;
    text-align: center;


}
#in{
    background-color: transparent;
}

#item button{
    background-color: rgb(32, 60, 71);
    border-radius: 5px;
    padding: 3px;
    
    margin: 10px;
    margin-right: 15px;
    color: rgb(240, 17, 54);

}
#item a{
    text-decoration: none;
    color: rgb(46, 207, 212);
}

#btn:hover{
    cursor: pointer;
    background-color: darkslategray;
}


    </style>
</head>
<body>
    <center>
        <div class="container">
            <h1>TODO LIST</h1>
            <div id="newtask">
                <input type="text" placeholder="Add Tasks" id="in">
                <button id="push">Add</button>
    
            </div>
            <% for( let i = 0; i < tasks.length; i++ ) { %>
              <div id="item">
                    <div class="<%- tasks[i].id %>">               
                    
                   <% if (tasks[i].done) { %>
                    <strike><span id="<%- tasks[i].id %>"><%- tasks[i].name %></span></strike>
                    <button><a href="/api/v1/tasks/completed/<%- tasks[i].id %>">COMPLETED</a></button>
                   <% } else { %>
                    <span id="<%- tasks[i].id %>"><%- tasks[i].name %></span>
                    <button><a href="/api/v1/tasks/completed/<%- tasks[i].id %>">INCOMPLETE</a></button>
                    <% } %>
                    
                    <button id="<%- tasks[i].id %>"><a href="/api/v1/tasks/<%- tasks[i].id %>">UPDATE</a></button>
                    <button onclick="delete_task('<%- tasks[i].id %>')" id="btn">DELETE</button>
                    
                </div> 
                </div>
            
            <% } %>
        </div>
    
    </center>
    

    
    <script>

    document.querySelector('#push').onclick = function(){
    if(document.querySelector('#newtask input').value.length == 0){
        alert("Kindly Enter Task Name!!!!")
    }
    else{
        const val=document.getElementById("in").value
        const data={
            name:`${val}`
        }
        
        fetch('/api/v1/tasks', {
        method: 'POST',
        body: JSON.stringify(data),
        headers: {
            'Content-type': 'application/json; charset=UTF-8'
        }    
    }).then(()=>{document.location.reload(true)})
}
    }


    function delete_task(id)
    {
        fetch(`/api/v1/tasks/${id}`,{
            method:'DELETE'
        }).then(()=>{console.log("deletd the item successfully")})
        .then(()=>{document.location.reload(true)})
    }

    function strike()
    {
        document.getElementById("id").style
    }


    
    </script>



    
</body>
</html>